
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<div class="content" >
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            <div style="text-align:center">
                <img style="width:300px; height:250px " src="~/web/images/otel3.jpg" alt="" />

            </div>
           
            <p>
                Hoş geldiniz! [Otel Adı], konforlu konaklama deneyimi ve sıcak bir atmosfer sunan bir oteldir. Misafir memnuniyetini ön planda tutarak, konuklarımıza unutulmaz anlar yaşatmayı hedefliyoruz.

            </p>
            <p>Otelimiz, şehrin kalbinde yer alarak [Şehir Adı]'nın enerjisini ve güzelliklerini keşfetmek isteyen misafirlerimiz için mükemmel bir konumda bulunmaktadır. Modern tasarımıyla dikkat çeken otelimiz, şıklığı ve rahatlığı bir araya getirerek sizlere evinizdeymiş gibi hissettirmeyi amaçlamaktadır. </p>
            <p>Ekibimiz, konuklarımızın konaklama süresince ihtiyaç duyabilecekleri her konuda yardımcı olmak için burada. Sıcakkanlı personelimiz, size samimi bir karşılama sunmak ve her anınızı özel kılmak için çaba göstermektedir.</p>
            <p>
                [Otel Adı], yüksek kaliteli hizmet anlayışını benimseyerek, konuklarımızın beklentilerini aşmayı hedefler. Temizlik, konfor ve güvenlik konularında en üst düzeyde standartları sağlamak için özenle çalışıyoruz. Otelimizdeki her detay, konaklamanızı daha keyifli kılmak adına özenle seçilmiştir.

                Bizimle birlikte geçirdiğiniz her anın unutulmaz olması için buradayız. [Otel Adı], sadece bir konaklama yerinden daha fazlasını sunar; burası, anılarınızın yeşermeye başladığı bir yerdir.

                Sizleri [Otel Adı]'na davet ediyor, sıcak ve samimi atmosferimizi paylaşmaktan mutluluk duyuyoruz.

                Hoş geldiniz, hoşça kalın!
            </p>
        </div>
    </div>
</div>


